@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import "./components/__styles/heroBanner.module.scss";
@import "./components/__styles/button.module.scss";
@import "./components/__styles/weather.module.scss";
@import "./components/__styles/weatherSlide.module.scss";
@import "./components/__styles/footer.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: rgb(70, 70, 70);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
